{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Open news platform</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="logo">NewsProject</div>
        <nav>
            <a href="{% url 'newsapp:dashboard' %}">Home</a>
        </nav>
        <nav>
            <a href="{% url 'newsapp:article_list' %}">For you</a>
        </nav>
        <nav>
            <a href="{% url 'users:logout_user' %}">Logout</a>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
